* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
.LogoImg {
    max-height: 60px;
    border-radius: 100%;
}
nav  ul  li  a{
    font-weight: bolder;
}

/* Jumbotron */
.jumbotron {
    background: url('https://images.unsplash.com/photo-1500989145603-8e7ef71d639e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
}
/* Post */
.NewPostStyle{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* footer */
footer li a {
    color: white;
}

footer li a:hover {
    color: coral;
}

